.view-preferences
  .container-fluid
    h2 Preferences
    form.form-horizontal
      .form-group
        .col-xs-6.col-sm-4.col-md-2
          .input-group
            span.input-group-addon
              input(type="radio" name="parameterA" value="1")
            span.input-group-addon Option 1
      .form-group
        .col-xs-6.col-sm-4.col-md-2
          .input-group
            span.input-group-addon
              input(type="radio" name="parameterA" value="2")
            span.input-group-addon Option 2
