.view-dashboard
  .container-fluid
    h2 Services
    ul
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      li Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
